{% extends 'inv_profiles/manage/manage_template.html' %}
{% block content_title %}Manage metrics{% endblock %}

<!-- Create form -->
{% block table_create_title %}Add metric{% endblock %}
{% block create_form_action_url %}{% url 'inv_profiles:add_key_metric' profile.id %}{% endblock %}
{% block table_create_row_title %}Title{% endblock %}
{% block table_create_row_form_element %}{{ form.title }}{% endblock %}

{% block create_form_table_row %}
<p style="background-color: #C7D8C1; margin: 0px;  font-size: 16px; color: black">Title</p>
    {{ form.title }}
<p style="background-color: #C7D8C1; margin: 0px;  font-size: 16px; color: black">Type</p>
    {{ form.type_of_metric }}
<p style="background-color: #C7D8C1; margin: 0px;  font-size: 16px; color: black">Description</p>
    {{ form.description }}
<p style="background-color: #C7D8C1; margin: 0px;  font-size: 16px; color: black">Link</p>
    {{ form.link }}
{% endblock %}

{% block submit_create_label %}Create new metric{% endblock %}


<!-- Display/modify form -->
{% block table_display_title %}All metrics:{% endblock %}
{% block table_display_row %}
    <th style="background: #C7D8C1">Title</th>
    <th style="background: #C7D8C1">Type</th>
    <th style="background: #C7D8C1">Description</th>
{% endblock %}

{% block modify_form_action_url %}
    {% url 'inv_profiles:modify_metric' profile.id element.id %}
{% endblock %}

<!-- Show this when the user enteres the manage reports page to display a list of reports that can be modified -->
{% block modify_form_display_row %}
    <td width="40%"><a href="{{ element.link }}">{{ element.title }}</a></td>
    <td width="40%">{{ element.type_of_metric }}</td>
{% endblock %}

<!-- Show this when the user click on "Modify" -->
{% block modify_form_row %}
    <td width="25%">{{ modify_form.title }}</td>
    <td width="25%">{{ modify_form.type_of_metric }}</td>
    <td width="25%">{{ modify_form.description }}</td>
    <td width="25%">{{ modify_form.link }}</td>
{% endblock %}

{% block modify_button_href %}
    {% url 'inv_profiles:modify_metric' profile.id element.id %}
{% endblock %}

{% block delete_button_href %}
    {% url 'inv_profiles:delete_metric' profile.id element.id %}
{% endblock %}
