{% load static %}
{% block core_content %}
<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>MomentumX</title>
		<!-- Meta information -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

		<!-- Linear template scripts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'momentumx/js/skel.min.js' %}"></script>
		<script src="{% static 'momentumx/js/skel-panels.min.js' %}"></script>
		<script src="{% static 'momentumx/js/init.js' %}"></script>
		<link rel="stylesheet" href="{% static 'momentumx/css/skel-noscript.css' %}" />
		<link rel="stylesheet" href="{% static 'momentumx/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'momentumx/css/style-desktop.css' %}" />
	</head>

	<!-- BODY -->
	<body class="homepage">
	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="">Logged in as {{ user.username }}</a></li>
						{% endif %}
						<li class="active"><a href="{% url 'info:index' %}">Home</a></li>
                        <li><a href="{% url 'inv_profiles:profiles' %}">Portfolio</a></li>
							<li><a href="{% url 'inv_profiles:profiles' %}">Investment profiles</a></li>
							<li><a href="{% url 'social:index' %}">Community</a></li>
						<li><a href="{% url 'info:learn_to_invest' %}">Learn to invest</a></li>
						{% if not user.is_authenticated %}
							<li><a href="{% url 'user:login_user' %}">Log-in</a></li>
							<li><a href="{% url 'user:create_user' %}">Register</a></li>
						{% endif %}
						<li><a href="{% url 'info:about' %}">About</a></li>
						<li><a href="{% url 'info:help' %}">Help</a></li>
						<li><a href="{% url 'info:contact' %}">Contact</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'user:user_profile' %}">Your account</a></li>
							<li><a href="{% url 'user:logout_user' %}">Log out</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
{% endblock %}
{% block main %}
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">On the road to success</a></h1>
					<span class="tag">with MomentumX</span>
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Welcome to MomentumX</h2>
				</header>
				<p>MomentumX is a planning tool to help plan your investments.</p>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="fa fa-briefcase"></span>Plan</span>
						<h3></h3>
						<p>Its easy to plan with MomentumX. Keep an overview of what you need.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-lock"></span>Track</span>
						<h3></h3>
						<p>Track your investments with ease. Simple and easy overview makes keep track easier.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-globe"></span>Success</span>
						<h3></h3>
						<p>Get successfull investments with this simple planning tool.</p>
						<a href="#" class="button button-style1">Read More</a>
					</section>

				</div>
			</div>
		</div>
	<!-- Main (COMMENTED OUT)
		<div id="main">
			<div id="content" class="container">

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic01.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic02.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
				</div>

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic03.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic04.jpg" alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>				
				</div>
			
			</div>
		</div>
	-->
{% endblock %}
{% block footer %}
	<!-- Tweet (COMMENTED OUT)
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
				</section>
			</div>
		</div>
	-->
	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline">Reach out on Facebook or Twitter. Follow MomentumxX to stay updated with the latest news.</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
	<!-- BODY END -->
</html>
{% endblock %}
